.media-creation {
  /* Take up the full page */
  min-height: 100%;

  display: flex;
  justify-content: space-between; 
  gap: 5px; 
}

.creation-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.creation-form label {
  color: white;
  font-weight: bold;
}

.media-preview {
  flex-grow: 1;
  
  text-align: center;
}

.media-preview h1 {
  color: var(--color-primary);
  font-weight: bold;
}
