.primary-sidebar {
  background-color: white;
  padding: 10px;
}

.primary-sidebar h4, h2 {
  color: var(--color-primary);
  font-weight: bold; 
}

.primary-sidebar p {
  color: var(--color-primary);
}

.primary-sidebar li {
  padding: 5px;
  transition-duration: 0.4s;
}

.primary-sidebar li:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}
