.primary-sidebar {
  background-color: white;
  padding: 10px;
}

.primary-sidebar h4, .primary-sidebar h2 {
  color: var(--color-primary);
  font-weight: bold; 
}

.primary-sidebar p {
  color: var(--color-primary);
}

.primary-sidebar li {
  padding: 5px;
  transition-duration: 0.4s;
}

.primary-sidebar li:hover {
  background-color: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.secondary-sidebar {
  min-height: 100%;
  padding: 10px;
  background-color: black;
  background-color: var(--color-primary);

  display: flex;
  flex-direction: column;
}

.secondary-sidebar h4, .secondary-sidebar h2{
  color: var(--color-beige);
  font-weight: bold; 
}

.content {
  display: flex;
  flex: 1;
}
