html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.add-media-container {
    display: flex;
    width: 100vw;
    height: 100vh; 
    box-sizing: border-box;
    overflow: hidden; 
}

.left-panel {
    flex-basis: 20%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategray;
    padding: 20px;
    min-width: 250px;
}

.left-panel button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}

.left-panel button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.confirm-button {
    margin-top: auto;
}

.media-preview {
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
}

/* File upload input styling */
#file-upload {
    display: none;
}

/* Custom file upload button styling */
.custom-file-upload {
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.custom-file-upload:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.input-group {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.input-group input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #3a6d66;
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.input-group input::placeholder {
    color: white; 
}

.input-group label {
    font-size: 1.3rem;
    color: #6fd3c5;
    margin-bottom: 5px;
    text-transform: capitalize;
    font-family: sans-serif;
    line-height: 1.0;
}

.person-input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #3a6d66;
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.person-input::placeholder {
    color: #6fd3c5;
}
